<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112410411-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-112410411-1');
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Hi my names Haydon Curteis-Lateo, I enjoy ICT and I'm trying to progress my career in it, Come check out my website."/>
  <meta name="Keywords" content="haydon, curteis, lateo, haydon curteis-lateo, hayhaydz, ict, web design, programming,"/>
  <link href="websites-style.css" rel="stylesheet">
  <link href="../../style.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Haydon Curteis-Lateo | Websites</title>
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PWVKMN7"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

  <div class="website-page">
    <a class="go-back" href="../portfolio.html">Go back</a>
    <h1 class="website-h1">Websites</h1>
      <div class="website-section">
        <div class="card">
          <div class="website-v1">
            <div class="v1-content">
              <h1>Version 1</h1>
              <p class="cardText"><span>This was my first attempt at making a nice looking template I focused more on the header, footer and how all of it looked in all screen sizes.</span></p>
              <div class="v1-links">
                <a class="v1-demo" href="v1/index.html" target="_blank">Full Demo</a>
                <a class="v1-download" href="v1.zip"download>Download</a>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="website-v2">
            <div class="v2-content">
              <h1 class="comingSoon" >Comign Soon</h1>
            </div>
          </div>
        </div>


      </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script src="/js/scripts.js"></script>

</body>
</html>
