<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="fonts/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
  <title>Testing Layouts</title>
</head>
<body>

<div class="wrapper">




      <div class="mobile-navigation">
        <ul>

        <li class="home-mobile" ><a class="scroll" href="#home">Home</a></li>
        <li class="about-mobile" ><a class="scroll" href="#about">About</a></li>
        <li class="prices-mobile" ><a class="scroll" href="#prices">Prices</a></li>
        <li class="testimonials-mobile" ><a class="scroll" href="#testimonials"></i>Testimonials</a></li>
        <li class="contact-mobile" ><a class="scroll" href="#contact">Contact</a></li>

        </ul>
      </div>
      <div class="over-hang"></div>
      <header>
        <!-- <a class="default_logo" href="#">Greenacres Dog Boarding</a> -->
        <div class="logo"><a class="scroll" href="#top"><h1>Website Logo</h1></a></div>

          <div class="icon">
            <div class="hamburger"></div>
          </div>

              <ul class="navigation">

              <li class="home" ><a class="scroll" href="#home">Home</a></li>
              <li class="about" ><a class="scroll" href="#about">About</a></li>
              <li class="prices" ><a class="scroll" href="#prices">Prices</a></li>
              <li class="testimonials" ><a class="scroll" href="#testimonials">Testimonials</a></li>
              <li class="contact" ><a class="scroll" href="#contact">Contact</a></li>

              </ul>
      </header>

    <div id="top" ></div>

    <div class="landing-screen">
      <h1 class="welcome" >Welcome to Your Website</h1>
      <h4>It's nice to see you again.</h4>
      <a class="find-more scroll" href="#home">Find Out More</a>
      <div class="find-more-arrow"><a class="scroll" href="#home"><i class="fa fa-angle-down fa-3x"></i></a></div>
    </div>


      <div id="home"></div>
    <div class="gap-image image-right image-margin-top"><div class="woodland-road"></div></div>

      <div class="content1 content-flex">
        <h1>Home</h1>
        <p>Aute commodo consectetur. Cupidatat irure expetendis ullamco ne quibusdam est
          dolore excepteur nam officia in deserunt se minim ea deserunt. Non fugiat
          probant ullamco se qui irure nam duis. Eram admodum qui exercitation eu an sint
          ingeniis eruditionem e nostrud ita cillum admodum in sint graviterque fabulas
          elit consequat.Ad hic summis elit dolore, ea minim quamquam nostrud si enim
          domesticarum ullamco illum constias ita cupidatat hic amet. Ab duis cernantur
          distinguantur, se proident firmissimum. Deserunt esse mentitum consequat. Nisi
          se doctrina.</p>


      </div>

      <div id="about"></div>
    <div class="gap-image image-left image-margin-top"><div class="mountain"></div></div>


      <div class="content2 content-flex">
        <h2>About</h2>
        <p>Consequat culpa iis mentitum adipisicing a quis in vidisse, e quid cernantur,
          velit litteris consequat te dolor nescius ubi incididunt, summis id e enim
          deserunt est commodo tamen sed arbitror exercitation, in aut relinqueret. Quo an
          malis summis esse, eu summis eruditionem, veniam an aliquip est non export
          doctrina aut vidisse legam probant cernantur, ipsum do do labore admodum non
          quae occaecat o distinguantur iis voluptate et incididunt. Expetendis ex
          incididunt.Id mentitum ne quamquam, de de velit quae aute, id quibusdam
          praesentibus, fabulas de irure an occaecat quis iudicem mentitum sed hic veniam
          incididunt, do duis occaecat laborum ubi de eiusmod graviterque. Quem
          adipisicing doctrina tempor possumus. Ita ea despicationes. Nescius quid anim an
          quid hic culpa consequat ea vidisse.</p>
      </div>

        <div id="prices"></div>
      <div class="gap-image image-right image-margin-top"><div class="brown-wood-pattern"></div></div>

      <div class="content3 content-flex">
        <h2>Prices</h2>
        <p>Aliquip nisi enim ut magna, commodo noster pariatur, occaecat minim ullamco
          ullamco si minim arbitror domesticarum. E an veniam eram sunt quo summis officia
          eu fore fugiat ea anim o te labore appellat te o ullamco te singulis, malis ad
          nam ipsum mandaremus, occaecat dolor mentitum sed occaecat summis arbitror
          nescius est appellat iis quamquam. Probant malis tamen iis noster qui possumus
          sint aliqua consequat elit.Ne fore tempor cillum litteris est quis voluptate
          iudicem. Ex et adipisicing. Ubi ad exquisitaque, minim nam excepteur si
          consequat in eram ullamco, duis admodum quo duis minim. Ea ea veniam esse esse,
          ea nam eram pariatur, quo ex despicationes nam irure domesticarum quamquam anim
          senserit.</p>
      </div>

       <div id="testimonials"></div>
      <div class="gap-image image-left image-margin-top"><div class="landscape"></div></div>

      <div class="content4 content-flex">
        <h2>Testimonials</h2>
        <p>Incididunt quae elit id esse ad nam ubi aliqua cillum amet ne veniam proident
          imitarentur do ea nisi esse legam arbitror ubi sed quamquam sempiternum, do fore
          quorum ea deserunt, enim pariatur constias te ex anim exercitation. Pariatur
          sint laborum laboris non aliquip imitarentur ea arbitror. E quis mentitum
          reprehenderit. De nulla pariatur incurreret aut senserit te summis pariatur.Ad
          aliqua expetendis. Ea quorum o sint eu commodo quis arbitror offendit e te ab
          legam voluptate non mandaremus export occaecat. Nostrud ne dolor quamquam.
          Laborum culpa magna ex irure, veniam admodum de praetermissum, duis incididunt e
          tempor noster, mandaremus velit in laboris comprehenderit.</p>
      </div>

        <div id="contact"></div>
      <div class="gap-image image-right image-margin-top"><div class="woodland1"></div></div>

      <div class="content5 content-flex">
        <h2>Contact</h2>
        <p>Aute nescius ita adipisicing o ullamco irure an iudicem voluptatibus sed
          proident do fugiat, fore nostrud occaecat. Aliqua arbitrantur pariatur elit
          expetendis, et tempor summis aut voluptate, ingeniis despicationes se pariatur
          et singulis velit consequat. Cillum voluptate ubi eiusmod. Ab sint export ea
          incurreret.Se fabulas comprehenderit, amet admodum de tractavissent, nam tempor
          officia ullamco, aut eiusmod an singulis, ingeniis ea litteris est singulis
          irure o senserit voluptatibus hic fabulas quid aliqua iis quid te constias nam
          irure admodum. Incididunt irure summis et quid ita eiusmod sunt te ullamco
          tractavissent et possumus aute nostrud, velit laborum reprehenderit. Ingeniis
          minim sed nostrud illustriora ex commodo praesentibus sed doctrina. Sed fugiat
          possumus expetendis in commodo sed aliqua.</p>
      </div>



    <footer>

      <ul class="footer-navigation">
        <li class="home" ><a class="scroll" href="#home">Home</a></li>
        <li class="about" ><a class="scroll" href="#about">About</a></li>
        <li class="prices" ><a class="scroll" href="#prices">Prices</a></li>
        <li class="testimonials" ><a class="scroll" href="#testimonials">Testimonials</a></li>
        <li class="contact" ><a class="scroll" href="#contact">Contact</a></li>
        <li ><a href="#">Terms and Conditions</a></li>
      </ul>

      <div class="footer-social"><div class="facebook-icon"><a href="#"><i class="fa fa-facebook-official fa-4x" aria-hidden="true"></i></a></div></div>

      <div class="footer-contact"></div>

      <div class="copyright"><p>Copyright &copy; </p><a href="#"><p id="copyright-name"></p></a><p id="date"></p></div>

    </footer>

</div>
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
  <script type="text/javascript">
  $(document).ready(function(){
    var date = (new Date().getFullYear())
  document.getElementById("date").innerHTML = ("Copyright&copy; Website Name", date);
  document.getElementById("copyright-name").innerHTML = " Website Name";
  console.log(date)
  })
  </script>
  <script type="text/javascript">
  $(document).ready(function(){
    $(document).scroll(function() {
       var dist = $(document).scrollTop();
       if (dist >= 50){
        //$("header").addClass("header-moved-from-original");
        $("header").addClass("header-moved-from-original");
        $(".icon").addClass("mobile-nav-moved-from-original");
        console.log("Adding header class");
       }
       else {
         $("header").removeClass("header-moved-from-original");
         $(".icon").removeClass("mobile-nav-moved-from-original");
         console.log("Removing header moved class");
       }

      //console.log(dist);
    })
  })
    $(document).ready(function(){
      $('.icon').click(function(){
          $('.over-hang').delay(240).toggleClass('over-hang-open', 100);
      })
      $('.icon').click(function(){
          $('body').delay(240).toggleClass('no-scrolling', 100);
      })
      $('.over-hang').click(function(){
          $('.icon').removeClass('active');
          $('.mobile-navigation').delay(340).removeClass('mobile-navigation--open', 300);
          $('.over-hang').delay(240).removeClass('over-hang-open', 100);
          $('body').delay(240).removeClass('no-scrolling', 100);
      })
      $('.mobile-navigation').click(function(){
          $('.icon').removeClass('active');
          $('.mobile-navigation').delay(60).removeClass('mobile-navigation--open', 100);
          $('.over-hang').delay(40).removeClass('over-hang-open', 50);
          $('body').delay(40).removeClass('no-scrolling', 50);
      })
      $('.logo').click(function(){
          $('.icon').removeClass('active');
          $('.mobile-navigation').delay(60).removeClass('mobile-navigation--open', 100);
          $('.over-hang').delay(40).removeClass('over-hang-open', 50);
          $('body').delay(40).removeClass('no-scrolling', 50);
      })
      $('.icon').click(function(){
          $('.mobile-navigation').delay(340).toggleClass('mobile-navigation--open', 300);
      })
      $('.icon').click(function(){
          $('.icon').toggleClass('active');
      })
    })
    $(document).ready(function() {

       var scrollLink = $('.scroll');

       //smooth scrolling
       scrollLink.click(function(e) {
         e.preventDefault();
         $('body,html').animate({scrollTop: $(this.hash).offset().top}, 1000);
       });

       //Chnage Active class

       var home = $("#home").offset();
       var about = $("#about").offset();
       var prices = $("#prices").offset();
       var testimonials = $("#testimonials").offset();
       var contact = $("#contact").offset();

       $(document).ready(function() {
         $(window).scroll(function() {

           var screenPosition = $(document).scrollTop() + 50;

           if (screenPosition <= home.top) {
             $( ".home" ).removeClass( "active" );
           }
           if (screenPosition >= home.top) {
             $( ".home" ).addClass( "active" );
             $( ".about" ).removeClass( "active" );
           }
           if (screenPosition >= about.top) {
             $( ".about" ).addClass( "active" );
             $( ".home" ).removeClass( "active" );
             $( ".prices" ).removeClass( "active" );
           }
           if (screenPosition >= prices.top) {
             $( ".prices" ).addClass( "active" );
             $( ".about" ).removeClass( "active" );
             $( ".testimonials" ).removeClass( "active" );
           }
           if (screenPosition >= testimonials.top) {
             $( ".testimonials" ).addClass( "active" );
             $( ".prices" ).removeClass( "active" );
             $( ".contact" ).removeClass( "active" );
           }
           if (screenPosition <= contact.top) {
             $( ".contact" ).removeClass( "active" );
           }
           if (screenPosition >= contact.top) {
             $( ".contact" ).addClass( "active" );
             $( ".testimonials" ).removeClass( "active" );
           }
         })
       })

     });
  </script>
</body>
</html>
